
body{
    background-image: url(../img/mapa.jpg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center  0px;
}
div{
    background-color: #8e44ad;
    color: white;
    padding: .2rem .3rem .1rem .3rem;
    position: absolute;
    border-radius: 2rem 2rem 0 0;
    animation-name: animar;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    height: 30px;
    top: 45%;
    left: 49.2% ;}

    @keyframes animar{
        
        20%  {background-color:yellow; top:290px;left:835px;}
        
        40%  {background-color:lightblue; top:290px;left:720px; }
        60%  { background-color:orange; left:720px;top:500px;}
        80% { background-color:black; left:510px;  top:500px; color: white; transform: rotate(0deg);}
        100% { background-color:transparent; left:510px;  top:550px;
        color: transparent; transform: rotate(360deg);}
    }
